.theme-default {
    --color-dark-header: #242526;
    --color-dark-body: #18191A;
    --color-primary: #2C3370;
    --color-dark-primary: #151938;
    --color-darken-primary: #0D0316;
    --color-light-primary: #581C87;
    --color-lighten-primary: #6B21A8;
    --color-secondary: #E5E7EB;
    --color-dark-secondary: #D1D5DB;
    --color-darken-secondary: #9CA3AF;
    --color-light-secondary: #F3F4F6;
    --color-lighten-secondary: #F9FAFB;
    --color-success: #34D399;
    --color-success-label: #ECFDF5;
    --color-dark-success: #10B981;
    --color-light-success: #6EE7B7;
    --color-info: #60A5FA;
    --color-info-label: #EFF6FF;
    --color-dark-info: #3B82F6;
    --color-light-info: #93C5FD;
    --color-warning: #FBBF24;
    --color-warning-label: #FFFBEB;
    --color-dark-warning: #F59E0B;
    --color-light-warning: #FCD34D;
    --color-danger: #EF4444;
    --color-danger-label: #FEF2F2;
    --color-dark-danger: #DC2626;
    --color-light-danger: #F87171;

    --color-text-label: #374151;
}

.theme-purple {
    --color-dark-header: #242526;
    --color-dark-body: #18191A;
    --color-primary: #51087f;
    --color-dark-primary: #480772;
    --color-darken-primary: #39055b;
    --color-light-primary: #a936f1;
    --color-lighten-primary: #ba5ef3;
    --color-secondary: #E5E7EB;
    --color-dark-secondary: #D1D5DB;
    --color-darken-secondary: #9CA3AF;
    --color-light-secondary: #F3F4F6;
    --color-lighten-secondary: #F9FAFB;
    --color-success: #34D399;
    --color-success-label: #ECFDF5;
    --color-dark-success: #10B981;
    --color-light-success: #6EE7B7;
    --color-info: #60A5FA;
    --color-info-label: #EFF6FF;
    --color-dark-info: #3B82F6;
    --color-light-info: #93C5FD;
    --color-warning: #FBBF24;
    --color-warning-label: #FFFBEB;
    --color-dark-warning: #F59E0B;
    --color-light-warning: #FCD34D;
    --color-danger: #EF4444;
    --color-danger-label: #FEF2F2;
    --color-dark-danger: #DC2626;
    --color-light-danger: #F87171;

    --color-text-label: #374151;
}
